#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
select:focus option:first-of-type {
  display: none;
}

.detail-page {
  z-index: 10;
}

.typewriter {
  position: relative;
}

.typewriter > p {
  width: 100%;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 3s;
  animation-timing-function: steps(200, end);
  animation-iteration-count: 1;
  text-wrap: nowrap;
  /* Center vertically and horizontally */

  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    visibility: hidden;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
  }
  &:nth-child(3) {
    visibility: hidden;
    animation-delay: 5.3s;
    animation-fill-mode: forwards;
  }
  &:nth-child(4) {
    visibility: hidden;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }
  &:nth-child(5) {
    visibility: hidden;
    animation-delay: 10.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
